<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="logback"/>
    </settings>

    <!--实体类别名设置-->
    <typeAliases>
        <package name="vip.openpark.mybatis.quick.start.domain"/>
    </typeAliases>

    <!-- 插件(略) -->

    <!--配置环境-->
    <environments default="development">
        <environment id="development">
            <!--事务管理的配置-->
            <transactionManager type="JDBC"/>
            <!--数据源的配置-->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://172.17.35.120:3306/example"/>
                <property name="username" value="root"/>
                <property name="password" value="123456"/>
            </dataSource>
        </environment>
    </environments>

    <!--映射器（mappers）-->
    <mappers>
        <package name="vip.openpark.mybatis.quick.start.mapper"/>
    </mappers>
</configuration>