<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.simba1949.mapper.UserMapper">

    <resultMap id="findAllUserDto" type="top.simba1949.common.UserDto">
        <id property="id" column="id"/>
        <result property="username" column="user_name"/>
        <result property="password" column="user_password"/>
        <result property="userEmail" column="user_email"/>
        <result property="userInfo" column="user_info"/>
        <result property="headImg" column="head_img"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <!--通过resultMap映射-->
    <select id="findAllByResultMap" resultMap="findAllUserDto">
        select * from sys_user
    </select>

    <!--通过字段别名映射-->
    <select id="findAllByTypeAliases" resultType="UserDto">
        select
            id id,
            user_name username,
            user_password password,
            user_email userEmail,
            user_info userInfo,
            head_img headImg,
            create_time createTime
        from sys_user
    </select>


</mapper>