<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.simba1949.basic.mapper.One2ManySysRoleMapper">

    <resultMap id="allColumnMap" type="top.simba1949.basic.model.One2ManySysRole">
        <id column="id" property="id"></id>
        <result column="role_name" property="roleName"></result>
        <result column="enabled" property="enabled"></result>
        <result column="create_by" property="createBy"></result>
        <result column="create_time" property="createTime"></result>
    </resultMap>

</mapper>