<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vip.openpark.interceptor.mapper.UserDOMapper">
  <resultMap id="BaseResultMap" type="vip.openpark.interceptor.domain.UserDO">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="real_name" jdbcType="VARCHAR" property="real_name" />
    <result column="nick_name" jdbcType="VARCHAR" property="nick_name" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="gender" jdbcType="TINYINT" property="gender" />
    <result column="birthday" jdbcType="TIMESTAMP" property="birthday" />
    <result column="nation" jdbcType="VARCHAR" property="nation" />
    <result column="country_name" jdbcType="VARCHAR" property="country_name" />
    <result column="id_card" jdbcType="VARCHAR" property="id_card" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="bl_enable" jdbcType="TINYINT" property="bl_enable" />
    <result column="bl_delete" jdbcType="TINYINT" property="bl_delete" />
    <result column="version" jdbcType="BIGINT" property="version" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmt_create" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="creator_id" jdbcType="BIGINT" property="creator_id" />
    <result column="creator_code" jdbcType="VARCHAR" property="creator_code" />
    <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmt_modify" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="modifier_id" jdbcType="BIGINT" property="modifier_id" />
    <result column="modifier_code" jdbcType="VARCHAR" property="modifier_code" />
  </resultMap>

  <select id="selectByPage" resultType="vip.openpark.interceptor.domain.UserDO">
    SELECT * FROM user
  </select>
</mapper>