<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 配置 Mapper.xml 对应的接口全限定名 -->
<mapper namespace="vip.openpark.advanced.search.mapper.OneToManyUserDOMapper">

    <select id="selectWithOneXml" resultType="vip.openpark.advanced.search.domain.OneToManyUserDO">

    </select>

    <select id="selectWithManyXml" resultType="vip.openpark.advanced.search.domain.OneToManyUserDO">

    </select>

</mapper>