<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 配置 Mapper.xml 对应的接口全限定名 -->
<mapper namespace="vip.openpark.advanced.search.mapper.SqlLabelMapper">

    <!-- 用于定义表名，表名存在 companyName_systemName_bizName -->
    <sql id="fromTable">
        from ${tablePrefix}er
    </sql>

    <!-- 用于定义需要查询的表中的字段 -->
    <sql id="partColumn">
        `ID`, `CODE`, USERNAME, REAL_NAME, NICK_NAME, `PASSWORD`
    </sql>

    <select id="selectBySqlLabel" resultType="vip.openpark.advanced.search.domain.UserDO">
        SELECT
        <!--这里不传递值，直接引用-->
        <include refid="partColumn"/>
        <include refid="fromTable">
            <!--这里向下传递值，属性是 tablePrefix，属性值是 ur -->
            <property name="tablePrefix" value="us"/>
        </include>
    </select>
</mapper>